# Dependencies
node_modules

# Environment Variables
.env
.env.local
.env.production

# Build Output
dist

# Prisma
/generated/prisma
/src/generated/prisma

# Logs
*.log
logs

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea